<!--Error messages-->
<div style="width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #d94f70;
    color: white;
    line-height: 400%;" [@tableState]="error">
  <i class="clear material-icons" style="cursor: pointer;" (click)="clear.emit()">clear</i>
  <ng-template [ngIf]="error">
    <ul *ngIf="error.ModelState">
      <li *ngFor="let msg of error.ModelState | extractModelErrors">{{msg}}</li>
    </ul>
  </ng-template>
  <div *ngIf="error.error_description" [textContent]="error.error_description"></div>
  <div *ngIf="error.statusText" [textContent]="error.statusText"></div>
</div>
