<section>
  <div class="grid">
    <div class="container">
      <!-- <div>
        <img src="../assets/images/omega_logo.svg" alt="">
      </div> -->
      <div id="loader" class="logo-container">
        <div class="logo-loader">
          <div class="circle-loader">
          </div>
          <div class="line-loader">
          </div>
        </div>
      </div>
      <div>
        <h1 class="mat-headline">Loading</h1>
        <h4>Please wait…</h4>
        <a [href]="signInLink()">Sign in now</a>
      </div>
    </div>
  </div>
</section>


