$light4:#f8f8f8;
$white: #ffffff;
$black: #333333;
$gray1:#e5e8ea;
$gray2:#696969;
$gray3:#9b9b9b;
$gray4:#f2f5f7;
$gray5: #e0e0e0;
$ligthBlue:#3899ec;
$LigthGreen :#85af4b;
$main1:#d94f70;
$main5:#3899ec;
$dark3:#333333;
$blue2:#009edc;